{
  "extends": [
    "eslint:recommended",
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "globals": {
    "JSX": true
  },
  "rules": {
    "no-prototype-builtins": "off",
    "@typescript-eslint/explicit-member-accessibility": "error",
    "@typescript-eslint/no-unused-vars": "warn"
  }
}
